name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  SLURM_IMAGE_REPO: ghcr.io/bmalezieux/slurm-docker-cluster
  SLURM_VERSION: 25.05.3

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Start Slurm Cluster
        run: |
          bash tests/integration/start_cluster.sh

      - name: Install dependencies
        run: uv sync

      - name: Run Integration Tests
        run: |
          uv run pytest tests/integration/test_local.py tests/integration/test_slurm.py
